.cart-button {
    border: none;
    background-color: transparent;
}

.cart-button {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    border-radius: 50%;
    text-align: center;
    right: -8px;
    top: -19px;
    font-size: 12px;
    line-height: 19px;
}

.basket {
    position: absolute;
    z-index: 3;
    background: white;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
}

.hidden {
    display: none;
}

.basketRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.basketHeader {
    font-weight: bold;
}

.basketTotal {
    font-weight: bold;
    text-align: right;
}