.cart-button {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    border-radius: 50%;
    text-align: center;
    right: -8px;
    top: -19px;
    font-size: 12px;
    line-height: 19px;
    border: none;
    background-color: transparent;
}

.modal {
    display: none;
    width: 800px;
    min-height: 600px;
    position: absolute;
    top: 100px;
    left: calc(50% - 400px);
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
}